<div class="container z-depth-5">
  <div class="row">
    <div class="col l12 s12 m12 block valign-wrapper">
      <div class="col l3 s3 m3 right-align">
        <img class="responsive-img  " src="./assets/foto.jpg">
        <div class="center-align">
            <i class="material-icons">email</i> 
        <br>
        cuervoads@gmail.com
        <br>
        <i class="material-icons">phone</i> 
        <br>
        7717269386
        <hr color="teal">
        <hr color="teal">
        <h6 class="block">EDUCACIÓN</h6>
        <p>INGENIERO EN SOFTWARE UPP UNIVERSIDAD POLITECNICA DE PACHUCA.</p>
         <p>INGENIERO EN SISTEMAS COMPUTACIONALES EN CENTRO DE ESTUDIOS SUPERIORES FELIPE VILLANUEVA</p>
         <hr color="teal">
         <hr color="teal">
          <h6 class="block">OBJETIVO</h6>
          <p class="left-align"> Crecer profesionalmente en el
            área de desarrollo de software y
            aplicaciones, enfocado
            principalmente a liderar
            proyectos de desarrollo a gran
            escala. crear un plan de carrera
            que me permita establecer
            nuevas metas y retos
            profesionales, así como el
            mejorar mis habilidades en el
            área</p>
            <hr color="teal">
            <hr color="teal">
          <h6 class="block">EXPERIENCIA DE
            VOLUNTARIADO O LIDERAZGO</h6>
          <p class="left-align">Experiencia en planeación y
            desarrollo de sistemas de
            software. alta capacidad de
            análisis y resolución de
            problemas, actividades de
            dirección y toma de decisiones.</p>
        </div>
      
      </div>
      <div class="col l9 s9 m9 left-align">
        
        <h4 class="left-align">Andrés Medrano Santiago           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 36 Años</h4>
        <hr color="teal">
        
        <h6>EXPERIENCIA</h6>
         <br/>  
          <p> QUARTSOFT (2016-2022), DESARROLLO DE SISTEMA SIO,
            MANDALA, DRIVER SOMPO; INGENIERO CHIEF, EN TECNOLOGÍA
            PHP, C#, .NET
          </p>
          <p>  AGALME GRUPO INFORMÁTICA INTEGRAL. ÁREA DE DESARROLLO
            (2016) INGENIERO EN SOFTWARE SENIOR EN DESARROLLO DE
            SISTEMAS (ERP BIOSIM, SISEEMS-RVOES), EN TECNOLOGÍA PHP.
            AGALME GRUPO INFORMÁTICA INTEGRAL. ÁREA DE DESARROLLO
            (2015) INGENIERO EN SOFTWARE SENIOR EN SESARROLLO DE
            SISTEMAS (SISTEMA INTEGRAL MENDOZA SPORTS), EN
            TECNOLOGÍA .NET.
          </p>
          <p>  COORDINACION NACIONAL DE CECYTES. LÍDER EN ÁREA DE
            DESARROLLO (2013-2015) INGENIERO EN SOFTWARE
            DESARROLLO DEL SISTEMA INTEGRAL DE INFORMACIÓN.
          </p>
          <hr color="teal">
          <hr color="teal">
          <h6>HABILIDADES</h6>
          <p>  
            LENGUAJES DE PROGRAMACIÓN: <br>
            - PHP, JAVASCRIPT, C, C++, PLSQL, ASP.NET., VB.NET, C#. LINQ,
            EXPRESIONES LAMBDA.
          </p>
          <p>
              BASE DE DATOS:<br>
              -MYSQL, SQLITE, POSTGRESQL, SQLSERVER2014,
              SQLSERVER2017, SQLSERVER2019.
          </p>
          <p>
            ADMINISTRACIÓN DE SERVIDORES:<br>
              -LINUX (DEBÍAN, REDHAT, UBUNTU) WINDOWS SERVER.
          </p>
          <p>
            FRAMEWORKS PHP: <br> -KOHANA, PRADO, CODEIGNITER, LARAVEL 5, 5.1,
              5.3,5.4,5.5,5.6,6.7,5.8.,8
          </p>
          <p>
            JAVASCRIPT:<br>
            -JQUERY UI, JQUERY MOBILE, VUE-JS. RESPONSIVE FRONT-END
            FRAMEWORK: FOUNDATION, BOOSTRAP TWITTER, MATERIALIZE,
            SEMANTIC UI, VUETIFYJS, ANGULAR
          </p>
          <p>
            METODOLOGÍA: <br>PSP TSP, SCRUM.
          </p>
      </div>
    </div>
    </div>
  </div>